title{
    text-align:center;
  }
  h1{
    text-align:center;
  }
  body{
    text-align: center;
    background-color:pink;
    color:solid black;
  }
  submit{
    text-align:center;
  }
  form1{
    border:10px solid blue;
  }
  